<div class="jumbotron">
    <h1 class="display-4">NotesApp NodeJS y MongoDB</h1>
    <p class="lead">Aplicación web de tareas online, autentificación con passport, crud basico de todas las tareas
    <hr class="my-4">   
</div>